@model LobbyingMadeSimple.Web.Models.VotableHomeIssueViewModel

<div class="issue">
    <h4>@Model.Title</h4>
    <p>
        @Model.ShortDescription
    </p>
    <p class="details">
        <span class="approval-rating @Model.ApprovalPercentageColor">@Model.ApprovalPercentage%</span> | 
        <span class="votes-needed">@Model.VoteCount</span><span class="votes"> Votes</span> | 
        @Model.IssueScope
    </p>
    @Html.Partial("_DetailsButton", Model.Id)
</div>