@model LobbyingMadeSimple.Web.Models.FundViewModel
<hr />

<div id="@Model.Id"  class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-12">
            <h2 class="issue-title">@Model.Title </h2>
        </div>

        <div class="detail-row col-sm-12">
            <p class="issue-description hidden-xs">@Model.ShortDescription</p>
        </div>
    
        @Html.Partial("_FundableProgressBar", Model)

        <div class="col-sm-offset-2 col-sm-4">
            <div class="btn-group btn-group-justified">
                @Html.ActionLink("Read More", "Details", new { id = Model.Id }, new { @class="btn btn-default" })
                @Html.ActionLink("Contribute", "Fund", "Contributions", new { id = Model.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>