@model LobbyingMadeSimple.Web.Models.FundViewModel

<div id="@Model.Id">
    <h2>@Model.Title @Html.ActionLink("Contribute", "Fund", "Contributions", new { id = Model.Id }, new { @class = "btn btn-primary" })</h2>
    <p>@Model.ShortDescription</p>
    @Html.ActionLink("Read More", "Details", new { id = Model.Id }, new { @class="btn btn-default" })
    <p class="funding-info"><span class="funding-goal">$@Model.FundingRaised</span> / $@Model.FundingGoal</p>
</div>