@model LobbyingMadeSimple.Web.Models.DetailsViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal" id="@Model.Id">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueScope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueScope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundingRaised)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.FundingRaised)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundingGoal)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.FundingGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalPercentage)%
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
