@model LobbyingMadeSimple.Web.Models.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h2 class="text-center">@Model.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center" id="@Model.Id">
        <p class="short-description">
            @Model.ShortDescription
        </p>

        <p class="long-description">
            @Model.LongDescription
        </p>

        <div class="col-sm-6">
            <p class="text-left">Affected State: @Model.IssueScope | 
                Votes: <span class="vote-count-display">@Model.VoteCount</span> | 
                Approval: <span class="vote-percentage">@Model.ApprovalPercentage</span>%
            </p>

            @Html.Partial("_VoteButtons", new ViewDataDictionary {
                    { "Id", Model.Id },
                    { "UpvoteButtonColor", Model.UpvoteButtonColor },
                    { "DownvoteButtonColor", Model.DownvoteButtonColor } })
        </div>

        <div class="col-sm-6">
            <p class="text-right funding-details">Funding: @Model.FundingRaised / @Model.FundingGoal</p>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    @Scripts.Render("/Scripts/voting.js")
}