@using LobbyingMadeSimple.Web.Models
@using PagedList.Mvc
@model PagedList.IPagedList<FundViewModel>

@{
    ViewBag.Title = "Fund";
}

<h2>Fund</h2>

@foreach (FundViewModel vm in Model)
{
    @Html.Partial("_FundIssue", vm)
}
<br />
<div class="row">
    <div class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("Fund",
            new { page }))

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

@section scripts{
    @Styles.Render("/Content/fund.css")
}