@model List<LobbyingMadeSimple.Web.Models.IssueViewModel> 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
@foreach (var item in Model) {
    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => item.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => item.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => item.LongDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => item.IsStateIssue)
        </th>
        <th>
            @Html.DisplayNameFor(model => item.StateAbbrev)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsStateIssue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateAbbrev)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>