@model IEnumerable<LobbyingMadeSimple.Models.Issue>

@{
    ViewBag.Title = "Index";
}
<noscript>
    <h3 class="text-danger">Voting only works with Javascript Enabled</h3>
</noscript>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Author.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStateIssue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateAbbrev)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsStateIssue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateAbbrev)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IssueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IssueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IssueID })
        </td>
    </tr>
}

</table>