@model IEnumerable<LobbyingMadeSimple.Core.Issue>
@using LobbyingMadeSimple.Helpers
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Vote";
}

<div class="row">
    <div class="col-md-offset-1">
        <h1>Recent Issues</h1>
    </div>
</div>

@foreach (var issue in Model)
{
    <div id="@issue.Id" class="issue border-bottom font-size-lg">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <span class="text-left font-size-lg">
                    @Html.DisplayFor(m => issue.Title)
                </span>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <span class="vote-count-display text-right highlight"> @issue.VotesLeftUntilApproval() </span> Needed

                <span class="@HtmlHelpers.GetCssClassForVotePercentage(issue.GetPrettyPercentage()) vote-percentage-string">
                    <span class="vote-percentage text-right">@issue.GetPrettyPercentage()</span>%
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 inline col-md-offset-1">
                @issue.ShortDescription
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 btn-holder col-md-offset-1">
                @using (Html.BeginRouteForm("VoteRoute",
                new { issueId = issue.Id, voteType = "Up" },
                FormMethod.Post, new { @class = "vote-btn" }))
                {
                    @Html.AntiForgeryToken()
                    <input class="btn up-vote btn-default @HtmlHelpers.GetVoteButtonColor(HttpContext.Current.User.Identity.GetUserId(), issue, true)" type="submit" value="I Agree">
                }

                @using (Html.BeginRouteForm("VoteRoute",
                new { issueId = issue.Id, voteType = "Down" },
                FormMethod.Post, new { @class="vote-btn" }))
                {
                    @Html.AntiForgeryToken()
                    <input class="btn down-vote btn-default @HtmlHelpers.GetVoteButtonColor(HttpContext.Current.User.Identity.GetUserId(), issue, false)" type="submit" value="I Disagree">
                }
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("/Scripts/voting.js")
}